{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp/",
      "enabled": true,
      "oauth": false,
      "headers": {
        "Authorization": "Bearer <your-github-pat>"
      }
    },
    "pytorch-community":{
      "type": "local",
      "command":[
        "uv",
        "run",
        "--directory",
        "<path-to-pytorchinsight>",
        "pytorch-community-mcp"
      ]
    }
  }
}
